<div class="container">

  <div class="jumbotron">

    <h1 class="display-4 mt-4 centrar-contenido">Consumo de la API de MARVEL Comics</h1>
    <p class="centrar-contenido">Selecciona una opción para obtener más información</p>

    <div class="row">
      <div class="col-3 col-lg centrar-contenido">
        <button type="button" class="btn btn-dark" (click)="createComponentPersonajes()" >Personajes</button>
      </div>
      <div class="col-3 col-lg centrar-contenido">
        <button type="button" class="btn btn-dark" (click)="createComponentComics()">Comics</button>
      </div>
      <div class="col-3 col-lg centrar-contenido">
        <button type="button" class="btn btn-dark" (click)="createComponentSeries()">Series</button>
      </div>
    </div>

  </div>

</div>

<br>

<div class="container">

  <!--<router-outlet></router-outlet>-->

  <ng-container #componenteDinamico></ng-container>

</div>