<br>

<div class="container">

  <div class="input-group mb-3 centrar-contenido">
    <div class="row">
      <div class="col-12 col-lg">
        <h3 class="text-justified">Buscar por las iniciales de la serie</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-9 col-lg">
          <input type="text" class="form-control" placeholder="Iniciales de la Serie" [(ngModel)]="serie">
        </div>
        <div class="col-3 col-lg">
          <div class="input-group-append">
            <button class="btn btn-outline-dark" type="button" (click)="buscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container d-flex flex-wrap align-center justify-content">
    <br>
    <div class="card m-3" style="width: 18rem;" *ngFor="let serie of series">
      <img src="{{serie?.thumbnail?.path}}.{{serie?.thumbnail?.extension}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{serie?.title}}</h5>
        <p class="card-text">{{serie?.description}}</p>
        <p class="card-text" *ngIf="serie?.description === '' || serie?.description === null">No Registra ninguna descripción</p>
      </div>
    </div>
  </div>

</div>
